.main--notfound {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .main__title {
    font-size: 100px;
    font-family: "Press Start 2P";
    color: #72ffff;
  }

  .main__link {
    margin: 50px 0;
    color: white;
  }
}
