.main {
  &.notfound-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .title {
      font-size: 100px;
      font-family: "Press Start 2P";
      color: #72ffff;
    }

    .link {
      margin: 50px 0;
      color: white;
    }
  }
}
