@import "reset-css/sass/reset";
@import "./typography.scss";

* {
  box-sizing: border-box;
}

body {
  background: #5800ff;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.Toastify__toast.Toastify__toast {
  box-shadow: 5px 5px 0px #311071;

  .Toastify__toast-icon svg {
    fill: #FF1700
  }
}

:root:root {
  --toastify-color-light: #9900f0;
  --toastify-text-color-light: white;
}
