.page-home {
  .title {
    font-family: "Press Start 2P";
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #72ffff;
    font-size: 25px;
  }
}

.footer {
  margin: 50px 0;

  a {
    color: #72ffff;
  }
}
