.results-info {
  margin: 0 auto 25px auto;
  text-align: left;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    background-color: #300287;
    padding: 0 5px;
  }
}

.results-list {
  width: 400px;
  max-width: 90vw;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  border: 5px solid #742df9;

  &__item {
    display: flex;
    justify-content: space-between;
    text-align: left;
    border-bottom: 1px solid #eee;
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }

    &-header,
    &-header:hover {
      background: #4701cb;
      color: white;

      .results-list__item-cell:first-of-type {
        justify-content: center;
      }
    }

    &-cell {
      padding: 15px;
      flex-shrink: 0;
      text-align: left;
      width: 100%;
      display: flex;
      align-items: center;

      &:first-of-type {
        width: 15%;
        padding: 5px 15px;
      }

      &:nth-of-type(2) {
        width: 55%;
      }

      &:last-of-type {
        width: 30%;
        padding-left: 5px;
      }

      &-thumb {
        width: 25px;
        height: 25px;
        flex-shrink: 0;
        border-radius: 50%;
        margin: 0 auto;
        background-color: #eee;

        @media only screen and (min-width: 480px) {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

.feedback {
  color: white;
  padding: 50px;

  strong {
    background-color: #300287;
    padding: 0 5px;
  }
}
